@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    font-family:sans-serif;
    padding: 0;
    margin: 0;
}

header {
    margin: 2%;
    align-items: center;
    height: 15vh;
    background-color:rgb(222, 227, 231);
    justify-content: center;
}

h1 {
    margin-top: 2%;
    font-weight: bolder;
    align-content: center;
    font-stretch: ultra-expanded;
    text-align: center;
    color:darkslategray;
    justify-self: center;

}
.btn {
    border: radius 5px;;
}

.row {
    justify-content:space-evenly;
    margin-bottom: 5%;
}

.card-header {
    font-weight: bold;
    color: darkslategray
}

#forecast-weather {
   display: flexbox;
   width: 70%;
   flex-direction: row; 
   justify-content: space-around;
}

#cardDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#forecast-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}